@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal {
  display: none;
  background: #eee;
  padding: 0 20px 20px;
  overflow: auto;
  z-index: 1001;
  position:fixed;
  width: 278px;
  min-height: 75px;
}
.closeBtn
{
	cursor:pointer;
	padding-top: 5px;
}
.closeBtn:hover
{
	color:#F5860A;
}

/* \\\\\\\\\\\\\\\\\    END MODAL CODE   ///////////////////////////////// */
